In [8]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('AB_test_data.csv')

In [3]:
df

      Variant  purchase_TF        date        id
0           A        False  2019-12-26  0x6f9421
1           A        False  2019-08-16  0x59d442
2           A         True  2019-03-18  0x6db8f8
3           A        False  2019-02-13  0x68245d
4           A        False  2019-09-28  0x28566e
...       ...          ...         ...       ...
54995       A        False  2019-06-19  0x451451
54996       A        False  2019-03-22  0x871d51
54997       A        False  2019-02-10  0x50d163
54998       B        False  2020-01-09  0x3544c4
54999       A        False  2019-09-05  0x983331

[55000 rows x 4 columns]

In [5]:
df['Variant'].value_counts()

A    50000
B     5000
Name: Variant, dtype: int64

In [7]:
df_pop = df.loc[df['Variant'] == 'A']
df_sample = df.loc[df['Variant'] == 'B']

In [22]:
df_pop['purchase_TF'].value_counts()

False    42397
True      7603
Name: purchase_TF, dtype: int64

In [19]:
# Setting up null hypo

pop_t = df_pop['purchase_TF'].value_counts()[1]
pop_f = df_pop['purchase_TF'].value_counts()[0]

pop_port = pop_t/df_pop.shape[0]

In [23]:
pop_port

0.15206

In [17]:
df_sample['purchase_TF'].value_counts()

False    4019
True      981
Name: purchase_TF, dtype: int64

In [18]:
samp_t = df_sample['purchase_TF'].value_counts()[1]
samp_f = df_sample['purchase_TF'].value_counts()[0]

In [21]:
# Calculate p value

stats.binom_test((samp_t, samp_f), p=pop_port, alternative='two-sided')

5.04855132322832e-17